source "Kconfig.zephyr"

# Project-specific settings

config APP_DEBUG
    bool "Should we build application in debug mode (with extra logging, tracking and usb-serial console)"
    default n

config APP_WAIT_FOR_OBSERVER
    bool "If yes, application will wait for terminal connection to console before start"
    default y
    depends on APP_DEBUG

config APP_PACKET_LOG
    bool "Should we spam all packets captured to the log or not"
    default n

config APP_ACCEPT_UNPAIRED_SENSORS
    bool "Should we keep reading sensors that wasn't 'paired' by gateway or not"
    default n

config APP_KEEP_CONNECTIONS
    bool "Should we keep connection from the sensors for extra minute, or disconnect immediately as gateway ask for."
    default n

config APP_DEBUG_BOOT_CONNECTIONS
    bool "Should we connect at the device boot time or wait until gateway ask for it."
    default APP_KEEP_CONNECTIONS

config APP_FEET_ROTATION
    bool "Support rotation for the feet sensors to a configured angle"
    default y

choice
    prompt "Frequency of KAT Sensors refreshment"
    default APP_KAT_FREQ_PARAM

config APP_KAT_FREQ_PARAM
    bool "Use configurable refresh rate 50..133 Hz"

config APP_KAT_FREQ_133
    bool "Use 133Hz refresh rate (unstable)"

config APP_KAT_FREQ_114
    bool "Use 114Hz refresh rate (unstable)"

config APP_KAT_FREQ_100
    bool "Use 100Hz refresh rate"

config APP_KAT_FREQ_86
    bool "Use ~86Hz refresh rate (like standard receiver)"

config APP_KAT_FREQ_80
    bool "Use 80Hz refresh rate"

config APP_KAT_FREQ_67
    bool "Use 67Hz refresh rate"

config APP_KAT_FREQ_57
    bool "Use 57Hz refresh rate"

config APP_KAT_FREQ_50
    bool "Use 50Hz refresh rate"

endchoice

# The connection interval defines maximum refresh speed per sensor,
# with at least 2 intervals required for each sensor to update.
config APP_KAT_CONN_INTERVAL
    int
    default 9 if APP_KAT_FREQ_PARAM  # default param == default receiver
    default 6 if APP_KAT_FREQ_133
    default 7 if APP_KAT_FREQ_114
    default 8 if APP_KAT_FREQ_100
    default 9 if APP_KAT_FREQ_86
    default 10 if APP_KAT_FREQ_80
    default 12 if APP_KAT_FREQ_67
    default 14 if APP_KAT_FREQ_57
    default 16 if APP_KAT_FREQ_50

# Overrides for deafults to manage debugging with single APP_DEBUG
config LOG
    default APP_DEBUG
    depends on APP_DEBUG
config LOG_PRINTK
    default APP_DEBUG
    depends on APP_DEBUG
config LOG_MODE_IMMEDIATE
    depends on APP_DEBUG
config SERIAL
    default APP_DEBUG
    depends on APP_DEBUG
config CONSOLE
    bool
    default APP_DEBUG
    depends on APP_DEBUG
config UART_CONSOLE
    default APP_DEBUG
    depends on APP_DEBUG
config UART_LINE_CTRL
    default APP_DEBUG
    depends on APP_DEBUG
config USB_CDC_ACM
    default APP_DEBUG
    depends on APP_DEBUG
config USB_DEVICE_INITIALIZE_AT_BOOT
    default n
    depends on APP_DEBUG
